.app-link {
    display: flex;
    justify-content: space-between;
}
.app-link li {
    list-style-type: none;
    padding-right: 10px;

}
.app-link li a {
text-decoration: none;
color: blue;
}
.social-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.social-link a {
    text-decoration: none;
    padding-right: 10px;
    color: blue;
}